* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

h1 {
  margin: 1rem 0;
}

ul {
  margin: 1rem 0;
}

li {
  padding: 0.5rem;
}

.form-add-articol {
  margin: 0 auto;
  max-width: 800px;
}

.btn-form-add {
  background-color: yellow;
  color: black;
  margin-left: 0.5rem;
}
